@import 'palette.scss';
@import 'basic.scss';
@import 'header.scss';




body {
    main {
        section.content {
            padding: 2em;
            header {
                background-color: white;
                border-radius: 24px;
                padding: 1em;

                div.data {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    div {
                        width: 20%;
                        margin-top: 2em;

                        p {
                            font-size: 2rem;
                        }
                    }

                    @media screen and (max-width: 700px) {
                        display: block;

                        div {
                            width: 100%;
                        }
                    }
                }

                footer {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 1.12rem;

                    div.social-btns {
                        width: 100px;
                        justify-content: space-around;
                        display: flex;

                        & > div {
                            cursor: pointer;
                            transition: all 0.7s;

                            &:hover {
                                transform: scale(1.07);
                            }
                        }
                    }

                    @media screen and (max-width: 700px) {
                        display: block;

                        div.social-btns {
                            margin: 0 auto;
                            font-size: 1.5rem;
                            width: 200px;
                            
                            @media screen and (max-width: 500px) {
                                width: 100%;
                                font-size: 2rem;
                            }
                        }

                    }
                }
            }
        }
    }
}